.body {
    background-image: url("../../../public/home-bg.jpg");
    height: 750px;
    flex-direction: column;
    display: flex;
    @media (max-width: 740px) {
        background-image: none;
        height: auto;
    }
}
.header__main {
    display: flex;
    align-items: center;
    padding: 15px;
    background: none;
    @media (max-width: 950px) {
        padding: 6px 0px 0px 0px;
    }
}

.signinform {
    display: flex;
    flex-direction: column;
    min-height: 570px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    width: 100%;
    margin: auto auto 100px;
    max-width: 450px;
    padding: 60px 68px 40px;
    @media (max-width: 710px) {
        padding: 0px 35px;
        display: block;
        background-color: black;
        margin: 0px;
    }
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    margin: 20px auto;
}
.formh1 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    @media (max-width: 950px) {
        font-size: 2.3rem;
    }
}
.information {
    color: #757575;
    font-size: 14px;
}

.remmember {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    flex: 1;
}
.check {
    height: 16px;
    width: 16px;
}
.fb {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 4px;
    img {
        height: 20px;
        width: 20px;
    }
    span {
        margin-left: 7px;
    }
}
.signup{
    margin-bottom: 20px;
    margin-left: 4px;
    font-size: 16px;
    a{
        color: white;
        &:hover{
            text-decoration: underline;
        }
    }
}
.span{
    padding-left: 4px;
}