.body{
    background-color: white;
    color: black;
}
.header__main {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(238, 220, 220);
}

.panelcenter{
    display: block;
    transform: none;
    opacity: 1;
    margin: 0 auto 15px;
    max-width: 978px;
    height: 100%;
    padding: 16px 20px 100px 30px;

}
.planformcontainer{

}

.informations{
    margin-top: 20px;
}
.h1{
    font-size: 32px;
    color: #333;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.liste{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: #333;
    
    .info{
        padding: 10px 8px;
    }
    .info_flex{
        display: flex;
        align-items: center;
    }
    .checkmarque{
        color: red;
    }
}

.tableau{
    display: block;

    .tableau_row1{
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
        @media(max-width: 700px) {
            justify-content: space-around;
            
        }

        .row_btn{
            width: 120px;
            height: 120px;
            padding: 1px;
            background: #e50914;
            color: #fff;
            font-weight: 700;
            opacity: .6;
            text-align: center;
            border-radius: 2px;
            border: none;
            font-size: 17px;
            margin: 0px 0px 0px 150px;

            &:focus{
                background: #e50914ed;
                opacity: unset;                
            }
            @media(max-width: 1025px) {
                width: 90px;
                height: 90px;
            }
            @media(max-width: 700px) {
                margin: 0px;
                
            }
        }
    }
    .tableau_row2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid rgb(238, 220, 220);
        padding: 20px 40px 20px 0px;
        @media(max-width: 700px) {
            flex-direction: column;
            align-items: center;   
        }
        
        .offres{
            padding-right: 0px;
            display: flex;
            width: 300px;
            justify-content: space-between;
            font-weight: 700;
            color: #737373;
            fill: #737373;
            .selected{
                color: red;
            }
        }
        .span{
            color: #333;
        fill: #333;
        }
    }
}

.soustable{
    color: #737373;
    font-size: 13px;
    padding: 10px 0px 5px 0px;
}

.btncontainer{
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 24px;
    .btn_next{
        width: 100%;
        color: #fff;
        border: 0px;
        background-color: #e50914;
        min-height: 64px;
        font-weight: 500;
        font-size: 24px;
        border-radius: 4px;
        cursor: pointer;
    }
}