.body{
background-color: white;
    height: 750px;
    flex-direction: column;
    display: flex;
    @media (max-width: 1600px) {
        background-size: auto;
    }
    @media (max-width: 740px) {
        background-color: black;
        height: auto;
    }
}
.pad{
   
    @media (max-width:710px){
    padding-top: 60px;
    }
}
