.btn_login{
    background-color: #e50914;
    color: white;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    margin-right: 10px;
    border-radius: 1ex;
    width: 9rem;
    height: 3rem;
    cursor: pointer;
}