.panel{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    background-color: white;
    color: black;
    overflow: scroll;
    
}
.premier{
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11px;
}
.h11{
    font-size: 50px;
    font-weight: bold;
    
}
.h3{
    font-size: 20px;
    font-weight: bold;
}

.deuxieme{
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid gray;
    padding: 11px 0px;
}

.abonnementpanel{
    display: flex;
    flex-direction: column;
    
}
.h2{
    padding: 10px 0px;
    font-size: 20px;
}

.btn{
    background-color: red;
    width: auto;
    height: 50px;
    color: white;
}

.panelinfo{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 50px;
}
.r1c2r1{
    
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.rr1c2r1{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    .lien{
        text-align: end;
    }

}
.lien{
    font-size: 20px;
    color: #3390FF;
}

.r2c2r1{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.c1r2c2r1{
    display: flex;
    flex-direction: column;
    .h3{
        padding: 5px 0px;
    }
}
.c2r2c2r1{
    display: flex;
    flex-direction: column;
    text-align: right;
    .lien{
        padding: 5px 0px;
    }
}